{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Daily Operating Expenses</h1>

    <table class="table records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Fuelused</th>
                <th>Milesdriven</th>
                <th>Repairs</th>
                <th>Maintenance</th>
                <th>Supplies</th>
                <th>Otherexpenses</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('dailyoperatingexpenses_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.fuelUsed }}</td>
                <td>{{ entity.milesDriven }}</td>
                <td>{{ entity.repairs }}</td>
                <td>{{ entity.maintenance }}</td>
                <td>{{ entity.supplies }}</td>
                <td>{{ entity.otherExpenses }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('dailyoperatingexpenses_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('dailyoperatingexpenses_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('dailyoperatingexpenses_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
