{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Driver Payroll</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Pickuptime</th>
                <td>{{ entity.pickupTime|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Dropofftime</th>
                <td>{{ entity.dropOffTime|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Breakhours</th>
                <td>{{ entity.breakHours }}</td>
            </tr>
            <tr>
                <th>Numjourneys</th>
                <td>{{ entity.numJourneys }}</td>
            </tr>
            <tr>
                <th>Workmilesdriven</th>
                <td>{{ entity.workMilesDriven }}</td>
            </tr>
            <tr>
                <th>Leisuremilesdriven</th>
                <td>{{ entity.leisureMilesDriven }}</td>
            </tr>
            <tr>
                <th>Farescollected</th>
                <td>{{ entity.faresCollected }}</td>
            </tr>
            <tr>
                <th>Tipscollected</th>
                <td>{{ entity.tipsCollected }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('reports_driverpayroll') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('reports_driverpayroll_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
