{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Schedule Items</h1>

    <table class="table records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Driver</th>
                <th>Scheduled in time</th>
                <th>Scheduled out time</th>
                <th>Clock-in time</th>
                <th>Clock-out time</th>
                <th>Pickup info complete?</th>
                <th>Dropback info complete?</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('scheduleitem_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td><a href="{{ path('user_show', { 'id': entity.driver.id }) }}">{{ entity.driver }}</a></td>
                <td>{% if entity.scheduledInTime %}{{ entity.scheduledInTime|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.scheduledOutTime %}{{ entity.scheduledOutTime|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.clockInTime %}{{ entity.clockInTime|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.clockOutTime %}{{ entity.clockOutTime|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.isPickupInfoComplete %}Yes{% else %}No{% endif %}</td>
                <td>{% if entity.isDropbackInfoComplete %}Yes{% else %}No{% endif %}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('scheduleitem_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('scheduleitem_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('scheduleitem_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
