{% extends '::base.html.twig' %}

{% block stylesheets %}
{% stylesheets '@AppBundle/Resources/public/css/mobileTables.css' %}
<link rel="stylesheet" href="{{asset_url}}"/>
{% endstylesheets %}
{% endblock %}

{% block javascripts %}
{% javascripts  '@AppBundle/Resources/public/js/mobileTables.js' %}

<script src="{{ asset_url }}"></script>
{% endjavascripts %}
{% endblock %}

{% block body -%}
    <h1>User list</h1>

    <table class="table records_list">
        <thead>
            <tr>
                <th>Username</th>
                <th>First name</th>
                <th>Last name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('user_show', { 'id': entity.id }) }}">{{ entity.username }}</a></td>
                <td>{{ entity.fname }}</td>
                <td>{{ entity.lname }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('user_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('user_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('user_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}