{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Operating Expenses</h1>

    <table class="table record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Trips</th>
                <td>{{ entity.trips }}</td>
            </tr>
            <tr>
                <th>Miles driven</th>
                <td>{{ entity.milesDriven }}</td>
            </tr>
            <tr>
                <th>Income earnedmiles</th>
                <td>{{ entity.incomeEarnedMiles }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('operatingexpenses') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('operatingexpenses_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
