{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Car Hours</h1>

    <table class="table records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Hoursidle</th>
                <th>Hoursdownservicing</th>
                <th>Hoursrun</th>
                <th>Hoursincome</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('reports_carhours_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.hoursIdle }}</td>
                <td>{{ entity.hoursDownServicing }}</td>
                <td>{{ entity.hoursRun }}</td>
                <td>{{ entity.hoursIncome }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('reports_carhours_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('reports_carhours_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('reports_carhours_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
