{% extends '::base.html.twig' %}

{% block stylesheets %}
{% stylesheets '@AppBundle/Resources/public/css/mobileTables.css' %}
<link rel="stylesheet" href="{{asset_url}}"/>
{% endstylesheets %}
{% endblock %}

{% block javascripts %}
{% javascripts  '@AppBundle/Resources/public/js/mobileTables.js' %}

<script src="{{ asset_url }}"></script>
{% endjavascripts %}
{% endblock %}

{% block body -%}
    <h1>Car Hours</h1>

    <table class="table records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Hours idle</th>
                <th>Hours down servicing</th>
                <th>Hours run</th>
                <th>Hours income</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('reports_carhours_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.hoursIdle }}</td>
                <td>{{ entity.hoursDownServicing }}</td>
                <td>{{ entity.hoursRun }}</td>
                <td>{{ entity.hoursIncome }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('reports_carhours_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('reports_carhours_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('reports_carhours_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}